@font-face 
{
    font-family: RRegular;
    src: url(Fonts/Roboto-Regular.ttf);
}

@font-face 
{
    font-family: RBold;
    src: url(Fonts/Roboto-Bold.ttf);
}

@font-face 
{
    font-family: RThin;
    src: url(Fonts/Roboto-Thin.ttf);
}

body
{
    font-family: RRegular;
}

div
{
    color: white;
}

a
{
    color: white;
    text-decoration: none;
}

.button
{
    color: white;
    background-color: #bb0000;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 2%;
}

.center
{
    text-align: center;
}

.flex
{
    display: flex;
}

.bold
{
    font-family: RBold;
}

.regular
{
    font-family: RRegular;
}

.thin
{
    font-family: RThin;
}

.topText
{
    margin: auto;
}

.textOffset
{
    margin-left: 3%;
    font-size: 300%;
}

.textOffsetLessPadding
{
    margin-left: 3%;
    font-size: 300%;
    font-family: RBold;
    padding-bottom: 1%;
}


.buttonOffset
{
    margin-left: 3%;
    font-size: 300%;
    font-family: RBold;
    text-decoration: underline;
    position: relative;
    left: 3%;
}

.smallerTextOffset
{
    margin-left: 3%;
    font-size: 200%;
    font-family: RThin;
    padding-bottom: 10%;
}

.smallerTextOffsetLessPadding
{
    margin-left: 3%;
    font-size: 200%;
    font-family: RThin;
}

.link
{
    font-family: RRegular;
    text-decoration: underline;
}

.img
{
    width: 5%;
}

.IBIS
{
    text-indent: -9999999px;
    background-image: url("Images/IBIS.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 50%;
}

.topBar
{
    display: flex;
    position: fixed;
    z-index: 10;
    padding: 1%;
    top: -1%;
    opacity: 80%;
}

.kv
{
    text-indent: -99999999px;
    background-image: url("Images/kv.png");
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 40%;
}

.kevlar
{
    text-indent: -9999999px;
    background-image: url("Images/bossDiscord.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 5%;
    padding-bottom: 17%;
}

.gamescreenshot
{
    text-indent: -9999999px;
    background-image: url("Images/gamescreenshot.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 50%;
}

.jobImg
{
    text-indent: -9999999px;
    background-image: url("Images/jobImg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 50%;
}

.code
{
    text-indent: -9999999px;
    background-image: url("Images/Code.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 50%;
    margin-bottom: 15%;
}

.socialMediaImage
{
    text-indent: -9999999px;
    background-image: url("Images/SocialMedia.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 50%;
    margin-bottom: 5%;
}

@media screen and (max-width: 420px) 
{
    .topText
    {
        font-size: 75%;
    }
}

@media screen and (max-width: 369px) 
{
    .topText
    {
        font-size: 50%;
    }
}